@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

$lg: #7E87ec;
$lb: #2791cf;
$dg: #3f3f3f;
$white: #ffffff;

* {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;

  header {
    background-color: $lb;
    color: $white;
    padding: 7px, 20px;
     
    div.title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }
}