@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

$lg: #7E87ec;
$lb: #2791cf;
$dg: #3f3f3f;
$white: #ffffff;

@mixin flexing($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

* {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-radius: 10px;

  header {
    background-color: $lb;
    color: $white;
    padding: 7px, 20px;
     
    div.title {
      @include flexing(row, space-between, center);

      h1 {
        font-family: 'Inconsolata', monospace;
        font-size: 32px;
        margin-left: 10px;
      }
    }
    button {
      background-color: transparent;
      border: none;
      outline: none;

    }
  }

  div.container {
    background-color: $lg;
    padding: 20px;
    @include flexing(row, flex-start, stretch);

    div.users-window {
      width: 350px;
      color: $white;
      background-color: $dg;
      padding: 15px 20px;
      border-radius: 10px;
      margin-right: 20px;

      div.users-head {
        @include flexing(row, space-between, center);
        margin-bottom: 15px;

        h4 {
          background-color: $g;
          padding: 0 8px;
          border-radius: 50px;

        }
      }
      div.users-list p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }
  }
}