@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

$lg: #7E87ec;
$lb: #2791cf;
$dg: #3f3f3f;
$white: #ffffff;

@mixin flexing($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

* {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-radius: 10px;

  header {
    background-color: $lb;
    color: $white;
    padding: 7px, 20px;
     
    div.title {
      @include flexing(row, space-between, center);

      h1 {
        font-family: 'Inconsolata', monospace;
        font-size: 32px;
        margin-left: 10px;
      }
    }
    button {
      background-color: transparent;
      border: none;
      outline: none;

    }
  }

  div.container {
    background-color: $lg;
    padding: 20px;
    @include flexing(row, flex-start, stretch);

    div.users-window {
      width: 350px;
      color: $white;
      background-color: $dg;
      padding: 15px 20px;
      border-radius: 10px;
      margin-right: 20px;

      div.users-head {
        @include flexing(row, space-between, center);
        margin-bottom: 15px;

        h4 {
          background-color: $g;
          padding: 0 8px;
          border-radius: 50px;

        }
      }
      div.users-list p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }

    div.chat-window {
      width: 100%;
      border-radius: 10px;
      background-color: $dg;

      div.chats{
        min-height: 65vh ;
        padding: 20px;

        div.user-join{
          font-size: 0.9rem;
          color: $dg;
          background-color: $white;
          border-radius: 50px;
          width: max-content;
          padding: 7px 20px;
          margin: 0 auto;
          margin-bottom: 15px;
        }
        div.message {
          color: $dg;
          background-color: $white;
          padding: 5px 15px;
          max-width: 400px;
          margin-bottom: 15px;
          border-radius: 10px 50px 50px 10px;

          p {
            font-size: 16px;
          }
        }
        div.out {
          margin-left: auto;
          color: $white;
          background-color: $lb;
          border-radius: 50px 10px 10px 50px;
          text-align: left;
        }
      }
      div.user-input {
        @include flexing(row, space-between, stretch);
        
      }
    }
  }
}